[user]
    name = Lee Eugene
    email = scopradical@gmail.com
    username = emiling
[core]
    editor = vim
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
[web]
	browser = google-chrome
